In [33]:
import pandas as pd

In [45]:
df_raw=pd.read_csv("mall_customers_dirty.csv")

In [47]:
df_raw

,CustomerID,Name,Gender,Age,Annual Income (k$),Spending Score (1-100),Country,Joined Date
0,1001,John Doe,male,26.0,77.37,12.0,Canada,2021/01/01
1,1002,Liam Johnson,F,NaN,75.49,29.0,uk,2022/05/26
2,1003,Alan Walker,FEMALE,27.0,83.44,49.0,USA,2020.06.20
3,1004,Emily Clark,F,42.0,NaN,81.0,Canada,2020/10/07
4,1005,NaN,Female,23.0,90.65,59.0,ca,2020.03.12
5,1006,Sam Collins,Male,28.0,47.14,35.0,ca,2022.04.22
6,1007,John Doe,Female,69.0,48.74,73.0,ca,21-04-2020
7,1008,Emily Clark,Female,33.0,67.73,55.0,Canada,2021-06-08
8,1009,Jane Smith,Male,27.0,85.45,9.0,uk,2021.10.15
9,1010,John Doe,Male,52.0,83.80,38.0,uk,2019.08.01
10,1001,Alan Walker,F,58.0,74.73,20.0,UK,2019/09/25
11,1012,Emily Clark,Male,41.0,88.22,8.0,united states,03-02-2022
12,1013,Liam Johnson,Female,48.0,41.56,78.0,uk,2019-09-25
13,1014,Lucas Brown,male,51.0,47.35,NaN,USA,2022-09-08
14,1015,NaN,Male,20.0,34.96,86.0,uk,05-09-2019
15,1016,Emily Clark,FEMALE,24.0,54.80,94.0,USA,2018.01.13
16,1017,Jane Smith,Female,52.0,59.53,32.0,CANADA,2018/08/26
17,1018,Liam Johnson,Male,66.0,41.64,28.0,CANADA,06-01-2021
18,1019,NaN,FEMALE,68.0,49.97,94.0,CANADA,23-11-2022
19,1020,Sam Collins,Female,55.0,34.27,7.0,Canada,2021-09-28
20,1021,Liam Johnson,Male,22.0,77.26,16.0,Canada,2019/10/20
21,1022,Lucas Brown,F,38.0,44.30,31.0,UK,2021.03.22
22,1023,Jane Smith,Male,54.0,35.13,34.0,united states,2020.02.08
23,1024,Emily Clark,F,57.0,86.50,86.0,CANADA,2022/05/22
24,1025,Alan Walker,male,24.0,40.88,27.0,ca,2020.04.22
25,1026,Sam Collins,Male,NaN,49.37,NaN,CANADA,2019-11-09
26,1027,Liam Johnson,FEMALE,25.0,NaN,20.0,Canada,2018-06-19
27,1028,John Doe,male,68.0,32.79,88.0,united states,25-06-2018
28,1029,Alan Walker,Female,69.0,91.70,NaN,ca,2020-07-26
29,1030,Jane Smith,FEMALE,48.0,87.16,40.0,CANADA,2019-04-01
30,1031,Sam Collins,Male,35.0,65.66,69.0,UK,2018-02-09
31,1032,Sam Collins,Male,45.0,85.05,66.0,USA,2021.10.07
32,1033,NaN,FEMALE,NaN,67.69,95.0,ca,2019/06/14
33,1034,Kate Wilson,F,25.0,51.02,53.0,UK,2021-12-10
34,1035,Lucas Brown,Female,37.0,88.36,27.0,uk,2022.10.21
35,1036,Emily Clark,Female,68.0,85.72,11.0,UK,2022.11.21
36,1037,Mary Jane,male,30.0,33.23,79.0,CANADA,2018-08-14
37,1038,Lucas Brown,FEMALE,27.0,30.39,99.0,USA,06-04-2021
38,1039,Mary Jane,Male,69.0,67.18,41.0,CANADA,27-10-2021
39,1040,Liam Johnson,FEMALE,65.0,61.50,82.0,UK,2022-08-21
40,1041,Jane Smith,male,39.0,67.81,30.0,uk,2019/12/07
41,1042,Kate Wilson,F,21.0,59.41,75.0,ca,13-10-2018
42,1043,NaN,male,42.0,96.74,96.0,ca,08-10-2022
43,1044,Lucas Brown,FEMALE,NaN,77.54,22.0,CANADA,2021/03/20
44,1045,Olivia Martin,F,23.0,39.50,7.0,UK,07-06-2021
45,1046,Lucas Brown,male,44.0,35.73,NaN,Canada,2018/06/08
46,1047,John Doe,Male,30.0,73.49,61.0,ca,07-10-2018
47,1048,Kate Wilson,Female,65.0,84.45,40.0,USA,10-01-2022
48,1049,Mary Jane,Male,58.0,78.80,88.0,Canada,2018/10/26
49,1050,Lucas Brown,male,NaN,30.89,63.0,USA,21-06-2021

# Basic Info

In [49]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              50 non-null     int64
 1   Name                    45 non-null     object
 2   Gender                  50 non-null     object
 3   Age                     45 non-null     float64
 4   Annual Income (k$)      48 non-null     float64
 5   Spending Score (1-100)  46 non-null     float64
 6   Country                 50 non-null     object
 7   Joined Date             50 non-null     object
dtypes: float64(3), int64(1), object(4)
memory usage: 3.3+ KB

In [51]:
df_raw.isnull().sum()

CustomerID                0
Name                      5
Gender                    0
Age                       5
Annual Income (k$)        2
Spending Score (1-100)    4
Country                   0
Joined Date               0
dtype: int64

In [53]:
df_raw.shape

(50, 8)

In [55]:
df_raw.columns

Index(['CustomerID', 'Name', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)', 'Country', 'Joined Date'],
      dtype='object')

In [57]:
df_raw.dtypes

CustomerID                  int64
Name                       object
Gender                     object
Age                       float64
Annual Income (k$)        float64
Spending Score (1-100)    float64
Country                    object
Joined Date                object
dtype: object

# Step 1 Changing col_names

In [197]:
df.columns = [col.lower().strip().replace(' ', '_').replace('(', '').replace(')', '').replace('-', '_') for col in df.columns]

In [207]:
df

,customerid,name,gender,age,annual_income_k$,spending_score_1_100,country
0,1001,John Doe,M,26,77.37,12.00,Canada
2,1003,Alan Walker,M,27,83.44,49.00,USA
3,1004,Emily Clark,F,42,63.58,81.00,Canada
5,1006,Sam Collins,M,28,47.14,35.00,Canada
6,1007,John Doe,M,69,48.74,73.00,Canada
7,1008,Emily Clark,M,33,67.73,55.00,Canada
8,1009,Jane Smith,M,27,85.45,9.00,UK
9,1010,John Doe,M,52,83.80,38.00,UK
11,1012,Emily Clark,M,41,88.22,8.00,USA
12,1013,Liam Johnson,M,48,41.56,78.00,UK
13,1014,Lucas Brown,M,51,47.35,63.58,USA
15,1016,Emily Clark,M,24,54.80,94.00,USA
16,1017,Jane Smith,M,52,59.53,32.00,Canada
17,1018,Liam Johnson,M,66,41.64,28.00,Canada
19,1020,Sam Collins,M,55,34.27,7.00,Canada
20,1021,Liam Johnson,M,22,77.26,16.00,Canada
21,1022,Lucas Brown,F,38,44.30,31.00,UK
22,1023,Jane Smith,M,54,35.13,34.00,USA
23,1024,Emily Clark,F,57,86.50,86.00,Canada
24,1025,Alan Walker,M,24,40.88,27.00,Canada
26,1027,Liam Johnson,M,25,63.58,20.00,Canada
27,1028,John Doe,M,68,32.79,88.00,USA
28,1029,Alan Walker,M,69,91.70,63.58,Canada
29,1030,Jane Smith,M,48,87.16,40.00,Canada
30,1031,Sam Collins,M,35,65.66,69.00,UK
31,1032,Sam Collins,M,45,85.05,66.00,USA
33,1034,Kate Wilson,F,25,51.02,53.00,UK
34,1035,Lucas Brown,M,37,88.36,27.00,UK
35,1036,Emily Clark,M,68,85.72,11.00,UK
36,1037,Mary Jane,M,30,33.23,79.00,Canada
37,1038,Lucas Brown,M,27,30.39,99.00,USA
38,1039,Mary Jane,M,69,67.18,41.00,Canada
39,1040,Liam Johnson,M,65,61.50,82.00,UK
40,1041,Jane Smith,M,39,67.81,30.00,UK
41,1042,Kate Wilson,F,21,59.41,75.00,Canada
44,1045,Olivia Martin,F,23,39.50,7.00,UK
45,1046,Lucas Brown,M,44,35.73,63.58,Canada
46,1047,John Doe,M,30,73.49,61.00,Canada
47,1048,Kate Wilson,M,65,84.45,40.00,USA
48,1049,Mary Jane,M,58,78.80,88.00,Canada

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 0 to 48
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customerid            40 non-null     int64
 1   name                  40 non-null     object
 2   gender                40 non-null     object
 3   age                   40 non-null     int32
 4   annual_income_k$      40 non-null     float64
 5   spending_score_1_100  40 non-null     float64
 6   country               40 non-null     object
dtypes: float64(2), int32(1), int64(1), object(3)
memory usage: 2.3+ KB

# Step 2 Dropping Duplicates

In [203]:
df=df.drop_duplicates(subset="customerid")

# Step 3 Dropping null

In [238]:
df=df.dropna(subset=["name","age"])

# Step 4 filling null

In [209]:
mdn=df["annual_income_k$"].median()
mdn

63.58

In [213]:
df.loc[:, "annual_income_k$"] = df["annual_income_k$"].fillna(mdn)

In [217]:
df.loc[:, "spending_score_1_100"] = df["spending_score_1_100"].fillna(mdn)

# Step 5 replacing Values

In [219]:
df["gender"]=df["gender"].replace(["male","Male"],"M")

In [221]:
df["gender"]=df["gender"].replace(["FEMALE","Female"],"F")

In [223]:
df["country"]=df["country"].replace(["ca","CANADA","Canada"],"Canada")

In [225]:
df["country"]=df["country"].replace(["united states","united states","us","USA"],"USA")

In [227]:
df["country"]=df["country"].replace(["united kingdom","uk","UK"],"UK")

# Step 6 Changing datatypes

In [251]:
df['age'] = df['age'].astype(int)

In [253]:
df

,customerid,name,gender,age,annual_income_k$,spending_score_1_100,country
0,1001,John Doe,M,26,77.37,12.00,Canada
2,1003,Alan Walker,M,27,83.44,49.00,USA
3,1004,Emily Clark,F,42,63.58,81.00,Canada
5,1006,Sam Collins,M,28,47.14,35.00,Canada
6,1007,John Doe,M,69,48.74,73.00,Canada
7,1008,Emily Clark,M,33,67.73,55.00,Canada
8,1009,Jane Smith,M,27,85.45,9.00,UK
9,1010,John Doe,M,52,83.80,38.00,UK
11,1012,Emily Clark,M,41,88.22,8.00,USA
12,1013,Liam Johnson,M,48,41.56,78.00,UK
13,1014,Lucas Brown,M,51,47.35,63.58,USA
15,1016,Emily Clark,M,24,54.80,94.00,USA
16,1017,Jane Smith,M,52,59.53,32.00,Canada
17,1018,Liam Johnson,M,66,41.64,28.00,Canada
19,1020,Sam Collins,M,55,34.27,7.00,Canada
20,1021,Liam Johnson,M,22,77.26,16.00,Canada
21,1022,Lucas Brown,F,38,44.30,31.00,UK
22,1023,Jane Smith,M,54,35.13,34.00,USA
23,1024,Emily Clark,F,57,86.50,86.00,Canada
24,1025,Alan Walker,M,24,40.88,27.00,Canada
26,1027,Liam Johnson,M,25,63.58,20.00,Canada
27,1028,John Doe,M,68,32.79,88.00,USA
28,1029,Alan Walker,M,69,91.70,63.58,Canada
29,1030,Jane Smith,M,48,87.16,40.00,Canada
30,1031,Sam Collins,M,35,65.66,69.00,UK
31,1032,Sam Collins,M,45,85.05,66.00,USA
33,1034,Kate Wilson,F,25,51.02,53.00,UK
34,1035,Lucas Brown,M,37,88.36,27.00,UK
35,1036,Emily Clark,M,68,85.72,11.00,UK
36,1037,Mary Jane,M,30,33.23,79.00,Canada
37,1038,Lucas Brown,M,27,30.39,99.00,USA
38,1039,Mary Jane,M,69,67.18,41.00,Canada
39,1040,Liam Johnson,M,65,61.50,82.00,UK
40,1041,Jane Smith,M,39,67.81,30.00,UK
41,1042,Kate Wilson,F,21,59.41,75.00,Canada
44,1045,Olivia Martin,F,23,39.50,7.00,UK
45,1046,Lucas Brown,M,44,35.73,63.58,Canada
46,1047,John Doe,M,30,73.49,61.00,Canada
47,1048,Kate Wilson,M,65,84.45,40.00,USA
48,1049,Mary Jane,M,58,78.80,88.00,Canada

In [255]:
df.to_csv("mall_customers_clean.csv", index=False)